{
  "name": "mixture_framework",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "mixture/mixture.scss",
      "imports": [
        "mixture/bootstrap/sass/_mixins.scss",
        "mixture/bootstrap/sass/mixins/_breakpoints.scss",
        "mixture/bootstrap/sass/mixins/_hover.scss",
        "mixture/bootstrap/sass/mixins/_image.scss",
        "mixture/bootstrap/sass/mixins/_badge.scss",
        "mixture/bootstrap/sass/mixins/_resize.scss",
        "mixture/bootstrap/sass/mixins/_screen-reader.scss",
        "mixture/bootstrap/sass/mixins/_size.scss",
        "mixture/bootstrap/sass/mixins/_reset-text.scss",
        "mixture/bootstrap/sass/mixins/_text-emphasis.scss",
        "mixture/bootstrap/sass/mixins/_text-hide.scss",
        "mixture/bootstrap/sass/mixins/_text-truncate.scss",
        "mixture/bootstrap/sass/mixins/_visibility.scss",
        "mixture/bootstrap/sass/mixins/_alert.scss",
        "mixture/bootstrap/sass/mixins/_buttons.scss",
        "mixture/bootstrap/sass/mixins/_caret.scss",
        "mixture/bootstrap/sass/mixins/_pagination.scss",
        "mixture/bootstrap/sass/mixins/_lists.scss",
        "mixture/bootstrap/sass/mixins/_list-group.scss",
        "mixture/bootstrap/sass/mixins/_nav-divider.scss",
        "mixture/bootstrap/sass/mixins/_forms.scss",
        "mixture/bootstrap/sass/mixins/_table-row.scss",
        "mixture/bootstrap/sass/mixins/_background-variant.scss",
        "mixture/bootstrap/sass/mixins/_border-radius.scss",
        "mixture/bootstrap/sass/mixins/_box-shadow.scss",
        "mixture/bootstrap/sass/mixins/_gradients.scss",
        "mixture/bootstrap/sass/mixins/_transition.scss",
        "mixture/bootstrap/sass/mixins/_clearfix.scss",
        "mixture/bootstrap/sass/mixins/_navbar-align.scss",
        "mixture/bootstrap/sass/mixins/_grid-framework.scss",
        "mixture/bootstrap/sass/mixins/_grid.scss",
        "mixture/bootstrap/sass/mixins/_float.scss",
        "mixture/bootstrap/sass/_functions.scss",
        "mixture/bootstrap/sass/_variables.scss",
        "mixture/bootstrap/sass/_root.scss",
        "mixture/bootstrap/sass/_reboot.scss",
        "mixture/bootstrap/sass/_type.scss",
        "mixture/bootstrap/sass/_images.scss",
        "mixture/bootstrap/sass/_code.scss",
        "mixture/bootstrap/sass/_grid.scss",
        "mixture/bootstrap/sass/_tables.scss",
        "mixture/bootstrap/sass/_forms.scss",
        "mixture/bootstrap/sass/_buttons.scss",
        "mixture/bootstrap/sass/_transitions.scss",
        "mixture/bootstrap/sass/_dropdown.scss",
        "mixture/bootstrap/sass/_button-group.scss",
        "mixture/bootstrap/sass/_input-group.scss",
        "mixture/bootstrap/sass/_custom-forms.scss",
        "mixture/bootstrap/sass/_nav.scss",
        "mixture/bootstrap/sass/_navbar.scss",
        "mixture/bootstrap/sass/_card.scss",
        "mixture/bootstrap/sass/_breadcrumb.scss",
        "mixture/bootstrap/sass/_pagination.scss",
        "mixture/bootstrap/sass/_badge.scss",
        "mixture/bootstrap/sass/_jumbotron.scss",
        "mixture/bootstrap/sass/_alert.scss",
        "mixture/bootstrap/sass/_progress.scss",
        "mixture/bootstrap/sass/_media.scss",
        "mixture/bootstrap/sass/_list-group.scss",
        "mixture/bootstrap/sass/_close.scss",
        "mixture/bootstrap/sass/_modal.scss",
        "mixture/bootstrap/sass/_tooltip.scss",
        "mixture/bootstrap/sass/_popover.scss",
        "mixture/bootstrap/sass/_carousel.scss",
        "mixture/bootstrap/sass/_print.scss",
        "mixture/bootstrap/sass/_utilities.scss",
        "mixture/bootstrap/sass/utilities/_align.scss",
        "mixture/bootstrap/sass/utilities/_background.scss",
        "mixture/bootstrap/sass/utilities/_borders.scss",
        "mixture/bootstrap/sass/utilities/_clearfix.scss",
        "mixture/bootstrap/sass/utilities/_display.scss",
        "mixture/bootstrap/sass/utilities/_embed.scss",
        "mixture/bootstrap/sass/utilities/_flex.scss",
        "mixture/bootstrap/sass/utilities/_float.scss",
        "mixture/bootstrap/sass/utilities/_position.scss",
        "mixture/bootstrap/sass/utilities/_screenreaders.scss",
        "mixture/bootstrap/sass/utilities/_sizing.scss",
        "mixture/bootstrap/sass/utilities/_spacing.scss",
        "mixture/bootstrap/sass/utilities/_text.scss",
        "mixture/bootstrap/sass/utilities/_visibility.scss",
        "mixture/materialize/sass/components/_color-variables.scss",
        "mixture/materialize/sass/components/_color-classes.scss",
        "mixture/materialize/sass/components/_variables.scss",
        "mixture/materialize/sass/components/_normalize.scss",
        "mixture/materialize/sass/components/_global.scss",
        "mixture/materialize/sass/components/_badges.scss",
        "mixture/materialize/sass/components/_icons-material-design.scss",
        "mixture/materialize/sass/components/_grid.scss",
        "mixture/materialize/sass/components/_navbar.scss",
        "mixture/materialize/sass/components/_typography.scss",
        "mixture/materialize/sass/components/_transitions.scss",
        "mixture/materialize/sass/components/_cards.scss",
        "mixture/materialize/sass/components/_toast.scss",
        "mixture/materialize/sass/components/_tabs.scss",
        "mixture/materialize/sass/components/_tooltip.scss",
        "mixture/materialize/sass/components/_buttons.scss",
        "mixture/materialize/sass/components/_dropdown.scss",
        "mixture/materialize/sass/components/_waves.scss",
        "mixture/materialize/sass/components/_modal.scss",
        "mixture/materialize/sass/components/_collapsible.scss",
        "mixture/materialize/sass/components/_chips.scss",
        "mixture/materialize/sass/components/_materialbox.scss",
        "mixture/materialize/sass/components/_table_of_contents.scss",
        "mixture/materialize/sass/components/_sidenav.scss",
        "mixture/materialize/sass/components/_preloader.scss",
        "mixture/materialize/sass/components/_slider.scss",
        "mixture/materialize/sass/components/_carousel.scss",
        "mixture/materialize/sass/components/_tapTarget.scss",
        "mixture/materialize/sass/components/_pulse.scss",
        "mixture/materialize/sass/components/_datepicker.scss",
        "mixture/materialize/sass/components/_timepicker.scss",
        "mixture/materialize/sass/components/forms/_forms.scss",
        "mixture/semantic_ui/sass/semantic-ui/globals/_all.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_all.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_all.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_all.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_all.scss",
        "mixture/materialize/sass/components/forms/_input-fields.scss",
        "mixture/materialize/sass/components/forms/_radio-buttons.scss",
        "mixture/materialize/sass/components/forms/_checkboxes.scss",
        "mixture/materialize/sass/components/forms/_switches.scss",
        "mixture/materialize/sass/components/forms/_select.scss",
        "mixture/materialize/sass/components/forms/_file-input.scss",
        "mixture/materialize/sass/components/forms/_range.scss",
        "mixture/semantic_ui/sass/semantic-ui/globals/_variables.scss",
        "mixture/semantic_ui/sass/semantic-ui/globals/_reset.scss",
        "mixture/semantic_ui/sass/semantic-ui/globals/_site.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_button.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_container.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_divider.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_flag.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_header.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_icon.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_image.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_input.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_label.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_list.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_loader.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_rail.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_reveal.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_segment.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_step.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_breadcrumb.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_form.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_grid.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_menu.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_message.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_table.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_ad.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_card.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_comment.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_feed.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_item.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_statistic.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_accordion.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_checkbox.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_dimmer.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_dropdown.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_embed.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_modal.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_nag.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_popup.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_progress.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_rating.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_search.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_shape.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_sidebar.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_sticky.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_tab.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_transition.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_video.scss"
      ]
    },
    {
      "path": "mixture/bootstrap/sass/bootstrap-grid.scss",
      "imports": [
        "mixture/bootstrap/sass/_functions.scss",
        "mixture/bootstrap/sass/_variables.scss",
        "mixture/bootstrap/sass/mixins/_breakpoints.scss",
        "mixture/bootstrap/sass/mixins/_grid-framework.scss",
        "mixture/bootstrap/sass/mixins/_grid.scss",
        "mixture/bootstrap/sass/_grid.scss",
        "mixture/bootstrap/sass/utilities/_display.scss",
        "mixture/bootstrap/sass/utilities/_flex.scss"
      ]
    },
    {
      "path": "mixture/bootstrap/sass/bootstrap-reboot.scss",
      "imports": [
        "mixture/bootstrap/sass/_functions.scss",
        "mixture/bootstrap/sass/_variables.scss",
        "mixture/bootstrap/sass/_mixins.scss",
        "mixture/bootstrap/sass/_reboot.scss",
        "mixture/bootstrap/sass/mixins/_breakpoints.scss",
        "mixture/bootstrap/sass/mixins/_hover.scss",
        "mixture/bootstrap/sass/mixins/_image.scss",
        "mixture/bootstrap/sass/mixins/_badge.scss",
        "mixture/bootstrap/sass/mixins/_resize.scss",
        "mixture/bootstrap/sass/mixins/_screen-reader.scss",
        "mixture/bootstrap/sass/mixins/_size.scss",
        "mixture/bootstrap/sass/mixins/_reset-text.scss",
        "mixture/bootstrap/sass/mixins/_text-emphasis.scss",
        "mixture/bootstrap/sass/mixins/_text-hide.scss",
        "mixture/bootstrap/sass/mixins/_text-truncate.scss",
        "mixture/bootstrap/sass/mixins/_visibility.scss",
        "mixture/bootstrap/sass/mixins/_alert.scss",
        "mixture/bootstrap/sass/mixins/_buttons.scss",
        "mixture/bootstrap/sass/mixins/_caret.scss",
        "mixture/bootstrap/sass/mixins/_pagination.scss",
        "mixture/bootstrap/sass/mixins/_lists.scss",
        "mixture/bootstrap/sass/mixins/_list-group.scss",
        "mixture/bootstrap/sass/mixins/_nav-divider.scss",
        "mixture/bootstrap/sass/mixins/_forms.scss",
        "mixture/bootstrap/sass/mixins/_table-row.scss",
        "mixture/bootstrap/sass/mixins/_background-variant.scss",
        "mixture/bootstrap/sass/mixins/_border-radius.scss",
        "mixture/bootstrap/sass/mixins/_box-shadow.scss",
        "mixture/bootstrap/sass/mixins/_gradients.scss",
        "mixture/bootstrap/sass/mixins/_transition.scss",
        "mixture/bootstrap/sass/mixins/_clearfix.scss",
        "mixture/bootstrap/sass/mixins/_navbar-align.scss",
        "mixture/bootstrap/sass/mixins/_grid-framework.scss",
        "mixture/bootstrap/sass/mixins/_grid.scss",
        "mixture/bootstrap/sass/mixins/_float.scss"
      ]
    },
    {
      "path": "mixture/bootstrap/sass/bootstrap.scss",
      "imports": [
        "mixture/bootstrap/sass/_functions.scss",
        "mixture/bootstrap/sass/_variables.scss",
        "mixture/bootstrap/sass/_mixins.scss",
        "mixture/bootstrap/sass/_root.scss",
        "mixture/bootstrap/sass/_reboot.scss",
        "mixture/bootstrap/sass/_type.scss",
        "mixture/bootstrap/sass/_images.scss",
        "mixture/bootstrap/sass/_code.scss",
        "mixture/bootstrap/sass/_grid.scss",
        "mixture/bootstrap/sass/_tables.scss",
        "mixture/bootstrap/sass/_forms.scss",
        "mixture/bootstrap/sass/_buttons.scss",
        "mixture/bootstrap/sass/_transitions.scss",
        "mixture/bootstrap/sass/_dropdown.scss",
        "mixture/bootstrap/sass/_button-group.scss",
        "mixture/bootstrap/sass/_input-group.scss",
        "mixture/bootstrap/sass/_custom-forms.scss",
        "mixture/bootstrap/sass/_nav.scss",
        "mixture/bootstrap/sass/_navbar.scss",
        "mixture/bootstrap/sass/_card.scss",
        "mixture/bootstrap/sass/_breadcrumb.scss",
        "mixture/bootstrap/sass/_pagination.scss",
        "mixture/bootstrap/sass/_badge.scss",
        "mixture/bootstrap/sass/_jumbotron.scss",
        "mixture/bootstrap/sass/_alert.scss",
        "mixture/bootstrap/sass/_progress.scss",
        "mixture/bootstrap/sass/_media.scss",
        "mixture/bootstrap/sass/_list-group.scss",
        "mixture/bootstrap/sass/_close.scss",
        "mixture/bootstrap/sass/_modal.scss",
        "mixture/bootstrap/sass/_tooltip.scss",
        "mixture/bootstrap/sass/_popover.scss",
        "mixture/bootstrap/sass/_carousel.scss",
        "mixture/bootstrap/sass/_utilities.scss",
        "mixture/bootstrap/sass/_print.scss",
        "mixture/bootstrap/sass/mixins/_breakpoints.scss",
        "mixture/bootstrap/sass/mixins/_hover.scss",
        "mixture/bootstrap/sass/mixins/_image.scss",
        "mixture/bootstrap/sass/mixins/_badge.scss",
        "mixture/bootstrap/sass/mixins/_resize.scss",
        "mixture/bootstrap/sass/mixins/_screen-reader.scss",
        "mixture/bootstrap/sass/mixins/_size.scss",
        "mixture/bootstrap/sass/mixins/_reset-text.scss",
        "mixture/bootstrap/sass/mixins/_text-emphasis.scss",
        "mixture/bootstrap/sass/mixins/_text-hide.scss",
        "mixture/bootstrap/sass/mixins/_text-truncate.scss",
        "mixture/bootstrap/sass/mixins/_visibility.scss",
        "mixture/bootstrap/sass/mixins/_alert.scss",
        "mixture/bootstrap/sass/mixins/_buttons.scss",
        "mixture/bootstrap/sass/mixins/_caret.scss",
        "mixture/bootstrap/sass/mixins/_pagination.scss",
        "mixture/bootstrap/sass/mixins/_lists.scss",
        "mixture/bootstrap/sass/mixins/_list-group.scss",
        "mixture/bootstrap/sass/mixins/_nav-divider.scss",
        "mixture/bootstrap/sass/mixins/_forms.scss",
        "mixture/bootstrap/sass/mixins/_table-row.scss",
        "mixture/bootstrap/sass/mixins/_background-variant.scss",
        "mixture/bootstrap/sass/mixins/_border-radius.scss",
        "mixture/bootstrap/sass/mixins/_box-shadow.scss",
        "mixture/bootstrap/sass/mixins/_gradients.scss",
        "mixture/bootstrap/sass/mixins/_transition.scss",
        "mixture/bootstrap/sass/mixins/_clearfix.scss",
        "mixture/bootstrap/sass/mixins/_navbar-align.scss",
        "mixture/bootstrap/sass/mixins/_grid-framework.scss",
        "mixture/bootstrap/sass/mixins/_grid.scss",
        "mixture/bootstrap/sass/mixins/_float.scss",
        "mixture/bootstrap/sass/utilities/_align.scss",
        "mixture/bootstrap/sass/utilities/_background.scss",
        "mixture/bootstrap/sass/utilities/_borders.scss",
        "mixture/bootstrap/sass/utilities/_clearfix.scss",
        "mixture/bootstrap/sass/utilities/_display.scss",
        "mixture/bootstrap/sass/utilities/_embed.scss",
        "mixture/bootstrap/sass/utilities/_flex.scss",
        "mixture/bootstrap/sass/utilities/_float.scss",
        "mixture/bootstrap/sass/utilities/_position.scss",
        "mixture/bootstrap/sass/utilities/_screenreaders.scss",
        "mixture/bootstrap/sass/utilities/_sizing.scss",
        "mixture/bootstrap/sass/utilities/_spacing.scss",
        "mixture/bootstrap/sass/utilities/_text.scss",
        "mixture/bootstrap/sass/utilities/_visibility.scss"
      ]
    },
    {
      "path": "mixture/bootstrap/sass/_mixins.scss",
      "imports": [
        "mixture/bootstrap/sass/mixins/_breakpoints.scss",
        "mixture/bootstrap/sass/mixins/_hover.scss",
        "mixture/bootstrap/sass/mixins/_image.scss",
        "mixture/bootstrap/sass/mixins/_badge.scss",
        "mixture/bootstrap/sass/mixins/_resize.scss",
        "mixture/bootstrap/sass/mixins/_screen-reader.scss",
        "mixture/bootstrap/sass/mixins/_size.scss",
        "mixture/bootstrap/sass/mixins/_reset-text.scss",
        "mixture/bootstrap/sass/mixins/_text-emphasis.scss",
        "mixture/bootstrap/sass/mixins/_text-hide.scss",
        "mixture/bootstrap/sass/mixins/_text-truncate.scss",
        "mixture/bootstrap/sass/mixins/_visibility.scss",
        "mixture/bootstrap/sass/mixins/_alert.scss",
        "mixture/bootstrap/sass/mixins/_buttons.scss",
        "mixture/bootstrap/sass/mixins/_caret.scss",
        "mixture/bootstrap/sass/mixins/_pagination.scss",
        "mixture/bootstrap/sass/mixins/_lists.scss",
        "mixture/bootstrap/sass/mixins/_list-group.scss",
        "mixture/bootstrap/sass/mixins/_nav-divider.scss",
        "mixture/bootstrap/sass/mixins/_forms.scss",
        "mixture/bootstrap/sass/mixins/_table-row.scss",
        "mixture/bootstrap/sass/mixins/_background-variant.scss",
        "mixture/bootstrap/sass/mixins/_border-radius.scss",
        "mixture/bootstrap/sass/mixins/_box-shadow.scss",
        "mixture/bootstrap/sass/mixins/_gradients.scss",
        "mixture/bootstrap/sass/mixins/_transition.scss",
        "mixture/bootstrap/sass/mixins/_clearfix.scss",
        "mixture/bootstrap/sass/mixins/_navbar-align.scss",
        "mixture/bootstrap/sass/mixins/_grid-framework.scss",
        "mixture/bootstrap/sass/mixins/_grid.scss",
        "mixture/bootstrap/sass/mixins/_float.scss"
      ]
    },
    {
      "path": "mixture/bootstrap/sass/_utilities.scss",
      "imports": [
        "mixture/bootstrap/sass/utilities/_align.scss",
        "mixture/bootstrap/sass/utilities/_background.scss",
        "mixture/bootstrap/sass/utilities/_borders.scss",
        "mixture/bootstrap/sass/utilities/_clearfix.scss",
        "mixture/bootstrap/sass/utilities/_display.scss",
        "mixture/bootstrap/sass/utilities/_embed.scss",
        "mixture/bootstrap/sass/utilities/_flex.scss",
        "mixture/bootstrap/sass/utilities/_float.scss",
        "mixture/bootstrap/sass/utilities/_position.scss",
        "mixture/bootstrap/sass/utilities/_screenreaders.scss",
        "mixture/bootstrap/sass/utilities/_sizing.scss",
        "mixture/bootstrap/sass/utilities/_spacing.scss",
        "mixture/bootstrap/sass/utilities/_text.scss",
        "mixture/bootstrap/sass/utilities/_visibility.scss"
      ]
    },
    {
      "path": "mixture/materialize/sass/_materialize.scss",
      "imports": [
        "mixture/materialize/sass/components/_color-variables.scss",
        "mixture/materialize/sass/components/_color-classes.scss",
        "mixture/materialize/sass/components/_variables.scss",
        "mixture/materialize/sass/components/_normalize.scss",
        "mixture/materialize/sass/components/_global.scss",
        "mixture/materialize/sass/components/_badges.scss",
        "mixture/materialize/sass/components/_icons-material-design.scss",
        "mixture/materialize/sass/components/_grid.scss",
        "mixture/materialize/sass/components/_navbar.scss",
        "mixture/materialize/sass/components/_typography.scss",
        "mixture/materialize/sass/components/_transitions.scss",
        "mixture/materialize/sass/components/_cards.scss",
        "mixture/materialize/sass/components/_toast.scss",
        "mixture/materialize/sass/components/_tabs.scss",
        "mixture/materialize/sass/components/_tooltip.scss",
        "mixture/materialize/sass/components/_buttons.scss",
        "mixture/materialize/sass/components/_dropdown.scss",
        "mixture/materialize/sass/components/_waves.scss",
        "mixture/materialize/sass/components/_modal.scss",
        "mixture/materialize/sass/components/_collapsible.scss",
        "mixture/materialize/sass/components/_chips.scss",
        "mixture/materialize/sass/components/_materialbox.scss",
        "mixture/materialize/sass/components/forms/_forms.scss",
        "mixture/materialize/sass/components/_table_of_contents.scss",
        "mixture/materialize/sass/components/_sidenav.scss",
        "mixture/materialize/sass/components/_preloader.scss",
        "mixture/materialize/sass/components/_slider.scss",
        "mixture/materialize/sass/components/_carousel.scss",
        "mixture/materialize/sass/components/_tapTarget.scss",
        "mixture/materialize/sass/components/_pulse.scss",
        "mixture/materialize/sass/components/_datepicker.scss",
        "mixture/materialize/sass/components/_timepicker.scss",
        "mixture/materialize/sass/components/forms/_input-fields.scss",
        "mixture/materialize/sass/components/forms/_radio-buttons.scss",
        "mixture/materialize/sass/components/forms/_checkboxes.scss",
        "mixture/materialize/sass/components/forms/_switches.scss",
        "mixture/materialize/sass/components/forms/_select.scss",
        "mixture/materialize/sass/components/forms/_file-input.scss",
        "mixture/materialize/sass/components/forms/_range.scss"
      ]
    },
    {
      "path": "mixture/semantic_ui/sass/semantic-ui.scss",
      "imports": [
        "mixture/semantic_ui/sass/semantic-ui/globals/_all.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_all.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_all.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_all.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_all.scss",
        "mixture/semantic_ui/sass/semantic-ui/globals/_variables.scss",
        "mixture/semantic_ui/sass/semantic-ui/globals/_reset.scss",
        "mixture/semantic_ui/sass/semantic-ui/globals/_site.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_button.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_container.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_divider.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_flag.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_header.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_icon.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_image.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_input.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_label.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_list.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_loader.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_rail.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_reveal.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_segment.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_step.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_breadcrumb.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_form.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_grid.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_menu.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_message.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_table.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_ad.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_card.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_comment.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_feed.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_item.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_statistic.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_accordion.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_checkbox.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_dimmer.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_dropdown.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_embed.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_modal.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_nag.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_popup.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_progress.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_rating.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_search.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_shape.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_sidebar.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_sticky.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_tab.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_transition.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_video.scss"
      ]
    },
    {
      "path": "mixture/materialize/sass/components/forms/_forms.scss",
      "imports": [
        "mixture/materialize/sass/components/forms/_input-fields.scss",
        "mixture/materialize/sass/components/forms/_radio-buttons.scss",
        "mixture/materialize/sass/components/forms/_checkboxes.scss",
        "mixture/materialize/sass/components/forms/_switches.scss",
        "mixture/materialize/sass/components/forms/_select.scss",
        "mixture/materialize/sass/components/forms/_file-input.scss",
        "mixture/materialize/sass/components/forms/_range.scss"
      ]
    },
    {
      "path": "mixture/semantic_ui/sass/semantic-ui/collections/_all.scss",
      "imports": [
        "mixture/semantic_ui/sass/semantic-ui/collections/_breadcrumb.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_form.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_grid.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_menu.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_message.scss",
        "mixture/semantic_ui/sass/semantic-ui/collections/_table.scss"
      ]
    },
    {
      "path": "mixture/semantic_ui/sass/semantic-ui/elements/_all.scss",
      "imports": [
        "mixture/semantic_ui/sass/semantic-ui/elements/_button.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_container.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_divider.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_flag.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_header.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_icon.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_image.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_input.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_label.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_list.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_loader.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_rail.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_reveal.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_segment.scss",
        "mixture/semantic_ui/sass/semantic-ui/elements/_step.scss"
      ]
    },
    {
      "path": "mixture/semantic_ui/sass/semantic-ui/globals/_all.scss",
      "imports": [
        "mixture/semantic_ui/sass/semantic-ui/globals/_variables.scss",
        "mixture/semantic_ui/sass/semantic-ui/globals/_reset.scss",
        "mixture/semantic_ui/sass/semantic-ui/globals/_site.scss"
      ]
    },
    {
      "path": "mixture/semantic_ui/sass/semantic-ui/modules/_all.scss",
      "imports": [
        "mixture/semantic_ui/sass/semantic-ui/modules/_accordion.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_checkbox.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_dimmer.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_dropdown.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_embed.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_modal.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_nag.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_popup.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_progress.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_rating.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_search.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_shape.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_sidebar.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_sticky.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_tab.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_transition.scss",
        "mixture/semantic_ui/sass/semantic-ui/modules/_video.scss"
      ]
    },
    {
      "path": "mixture/semantic_ui/sass/semantic-ui/views/_all.scss",
      "imports": [
        "mixture/semantic_ui/sass/semantic-ui/views/_ad.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_card.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_comment.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_feed.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_item.scss",
        "mixture/semantic_ui/sass/semantic-ui/views/_statistic.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 80,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost/mixture_framework"
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../css\"},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}